body.dark-mode {
    background-color: #1e1e1e;
    color: white;
}


.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.imgbox {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}